@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body.dark {
    background-color: #1a202c;
    color: #f7fafc;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translate(0 0);
  }
  25% {
    transform: translateY(-550px) translateX(-300px);
  }
  50% {
    transform: translateY(200px) translateX(50px);
  }
  75% {
    transform: translateY(450px) translateX(400px);
  }
}

@keyframes bounce2 {
  0%, 100% {
    transform: translate(0 0);
  }
  25% {
    transform: translateY(250px) translateX(400px);
  }
  50% {
    transform: translateY(100px) translateX(50px);
  }
  75% {
    transform: translateY(-150px) translateX(350px);
  }
}

.animate-bounce {
  animation: bounce 300s infinite;
}

.animate-bounce2 {
  animation: bounce2 200s infinite;
}

.animation-delay-200 {
  animation-delay: 2.4s;
  animation-timing-function: linear;
}

.animation-delay-400 {
  animation-delay: 4.8s;
  animation-timing-function: linear;
}

.animation-delay-600 {
  animation-delay: 7.2s;
  animation-timing-function: linear;
}
